<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login page</h1>
    {% if form_errors %}
      <p>Your Credentials are incorrect. Please Give correct ones!!</p>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
          <p>You don't have permission</p>
          {% else %}
            <p>Please Login</p>
        {% endif %}
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        {{form.Username.label_tag}} 
        {{form.username}} <br>

        {{form.Password.label_tag}}
        {{form.password}} <br>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{next}}">
    </form>
</body>
</html>